html {
  font-family: "Roboto", sans-serif;
  color: white;
  max-width: 100%;
  overflow-x: hidden;
}

body { margin: 0; padding: 0; }

.content-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}