/*
  Color Spread:
    96C3D9 Blue 1
    018BCE Blue 2
    C9EDFF Blue 3
    B0742B Orange 1
    FFB255 Orange 2
*/
.section {
  width:90%;
  height: 100vh;
  background-color: rgb(223, 186, 86);
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section.blue1 {
  background-color: #96C3D9; /* blue1 */
}
.section.blue2 {
  background-color: #018BCE; /* blue2 */
}
.section.blue3 {
  background-color: #C9EDFF; /* blue3 */
}
.section.orange1 {
  background-color: #B0742B; /* orange1 */
}
.section.orange2 {
  background-color: #FFB255; /* orange2 */
}

.section  > .container{
  width: 90vw;
  position: relative;
}

.section > .container > .content {
  position: absolute;
  top: 0;
  font-weight: 100;
  width: 500px;
}

.section.left > .container > .content {
  left: 0;
}

.section.right > .container > .content {
  right: 0;
}

.section > .container > .accent-circle {
  width: 496px;
  height: 496px;
  border-radius: 248px;
  border: solid 2px;
  border-color: white;
  overflow: hidden;
  position: relative;
}

.section.left > .container > .accent-circle {
  float: right;
}

.section.right > .container > .accent-circle {
   float: left;
}

.section > .container > .accent-circle > img {
  width: 480px;
  height: 480px;
  margin: 8px;
  border-radius: 240px;
}

.action-panel{
  margin-top: 30px;
  margin-bottom: 30px;
}
.action-panel > button{
  margin-right: 20px;
}

.section > .container > .content > .horizontal-rule {
  height: 2px;
  background-color: white;
  margin-top: 34px;
}

.section.right > .container > .content > .horizontal-rule {
  margin-left: -100px;
}

.section.left > .container > .content > .horizontal-rule {
  margin-right: -100px;
}

button {
    border: 1px solid #fff;
    color: white;
    font-family: inherit;
    background-color: rgb(223, 186, 86);
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
    padding: 10px 23px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    transition: all .5s;
    font-weight: 200;
    margin: 0;
}

.section.blue1 > .container > .content > .action-panel > button {
  background-color: #96C3D9; /* blue1 */
}
.section.blue1 > .container > .content > .action-panel > button:hover {
  color: white;
  background: #D2E5EF; /* blue1 4 shades lighter*/
}

.section.blue2 > .container > .content > .action-panel > button {
  background-color: #018BCE; /* blue2 */
}
.section.blue2 > .container > .content > .action-panel > button:hover {
   color: white;
   background: #71CFFE; /* blue2 8 shades lighter*/
}

.section.blue3 > .container > .content > .action-panel > button {
  background-color: #C9EDFF; /* blue3 */
}
.section.blue3 > .container > .content > .action-panel > button:hover {
   color: white;
   background: #EBF8FF; /* blue3 2 shades lighter */
}

.section.orange1 > .container > .content > .action-panel > button {
  background-color: #B0742B; /* orange1 */
}
.section.orange1 > .container > .content > .action-panel > button:hover {
   color: white;
   background: #E7C69C; /* orange1  8 shades lighter*/
}

.section.orange2 > .container > .content > .action-panel > button {
  background-color: #FFB255; /* orange2 */
}
.section.orange2 > .container > .content > .action-panel > button:hover {
   color: white;
   background: #FFDAAD; /* orange2 4 shades lighter*/
}

.big-button {
  font-size: 24px;
}



