html {
  font-family: "Roboto", sans-serif;
  color: white;
}

.container{
  margin-left: 40px;
  width: 1050px;
  position: relative;
}
.content {
  font-weight: 100;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  
}

h2{
  font-weight: 100;
  line-height: 1.1;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
}
.action-panel{
  margin-top: 30px;
  margin-bottom: 30px;
}
.action-panel > button{
  margin-right: 20px;
}
.section {
  position:absolute;
  width:100%;
  left:0px;
  background-color: rgb(223, 186, 86);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.hr-right {
  height: 2px;
  background-color: white;
  margin-top: 34px;
  margin-left: -100px;
}

.accent-circle {
  width: 496px;
  height: 496px;
  border-radius: 248px;
  border: solid 2px;
  border-color: white;
  overflow: hidden;
}

.accent-circle > img {
  width: 480px;
  height: 480px;
  margin: 8px;
  border-radius: 240px;
}

button {
    border: 1px solid #fff;
    color: white;
    font-family: inherit;
    background-color: rgb(223, 186, 86);
    font-size: 17px;
    line-height: 17px;
    cursor: pointer;
    padding: 10px 23px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    transition: all .5s;
    font-weight: 200;
    margin: 0;
}

button:hover {
   color: rgb(223, 186, 86);
   background-color: white; 
}

.big-button {
  font-size: 24px;
}